<h2 class="captcha-title">
  {{ challenges[currentChallenge].prompt }}
</h2>

<div class="captcha-grid">
  <div 
    *ngFor="let img of gridImages; let i = index"
    class="captcha-cell"
    (click)="selectImage(i)"
    [class.selected]="img.selected"
    [attr.aria-label]="img.alt"
    tabindex="0"
    role="button"
  >
    <img [src]="img.src" [alt]="img.alt" class="captcha-image" />
  </div>
</div>

<div class="captcha-controls">
  <button 
    class="btn-main" 
    (click)="backChallenge()"
    [disabled]="currentChallenge === 0"
  >
    Back
  </button>
  <button 
    class="btn-main" 
    (click)="nextChallenge()" 
    [disabled]="!checkAnswers()"
    *ngIf="currentChallenge < challenges.length - 1"
  >
    Next
  </button>
  <button 
    class="btn-main"
    [disabled]="!checkAnswers()"
    *ngIf="currentChallenge === challenges.length - 1"
    (click)="finishChallenge()"
  >
    Finish
  </button>
</div>




<!-- <p>captcha works!</p> -->
<!-- <h2 class="captcha-title">Select all images that can fly</h2>
<div class="captcha-grid">
  <div 
    *ngFor="let img of gridImages; let i = index"
    class="captcha-cell"
    (click)="selectImage(i)"
    [class.selected]="img.selected"
    [attr.aria-label]="img.alt"
    tabindex="0"
    role="button"
  >
    <img [src]="img.src" [alt]="img.alt" class="captcha-image" />
  </div>
</div>
<button class="btn-main" (click)="checkAnswers()">Submit</button> -->
