<h2 class="captcha-title">
  {{ challenges[currentChallenge].prompt }}
</h2>

<div class="timer">
  Your progress time: {{ formattedTime }}
</div>

<div class="captcha-grid">
  <div 
    *ngFor="let img of gridImages; let i = index"
    class="captcha-cell"
    (click)="isCompleted ? null : selectImage(i)"
    [class.selected]="img.selected"
    [class.locked]="isCompleted"
    [attr.aria-label]="img.alt"
    tabindex="0"
    role="button"
  >
    <img [src]="img.src" [alt]="img.alt" class="captcha-image" />
    <span *ngIf="isCompleted" class="grid-overlay">COMPLETED</span>
  </div>
</div>

<p class="error-text" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<p class="hint-text" *ngIf="!isCompleted">
  {{ currentChallenge === challenges.length - 1
    ? 'Submit the correct answer to enable the “Finish” button.'
    : 'Submit the correct answer to enable the “Next” button.' }}
</p>

<div class="captcha-controls">
  <button 
    class="btn-main" 
    (click)="backChallenge()"
    [disabled]="currentChallenge === 0"
  >
    Back
  </button>

   <button 
    class="btn-main" 
    (click)="checkUserAnswer()"
    [disabled]="isCompleted"  
  >
    Submit
  </button>

  <button 
    class="btn-main" 
    (click)="nextChallenge()" 
    [disabled]="!isCompleted"
    *ngIf="currentChallenge < challenges.length - 1"
  >
    Next
  </button>
  
  <button 
    class="btn-main"
    [disabled]="!isCompleted"
    *ngIf="currentChallenge === challenges.length - 1"
    (click)="finishChallenge()"
  >
    Finish
  </button>
</div>


