/* Simple Global Theme Colors */

:root {
  --color-main: #b76773;       /* tea rose red */
  --color-text: #362222;       /* dark, readable text */
  --color-button: linear-gradient(90deg, #dea193 0%, #b76773 100%);

  --color-accent: #DE5D83;     /* deep pink */
  --color-surface: #ECC5C0;    /* pink blush */
  --color-soft: #DEA193;       /* pale peach */
  --color-bg: #faeef2;         /* lavender blush */
}

/* Page background and body text */
html, body {
  min-height: 100vh;
  background-image: url("/assets/images/newbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  color: var(--color-text);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  background-attachment: scroll;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-image: url("/assets/images/newbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: blur(1px);
}

/* Headings */
h1 {
  color: var(--color-main);
  font-weight: 700;
}

h2 {
  color: var(--color-main);
  font-weight: 500;
  margin-bottom: 0.5em;
  text-decoration: dotted underline;
}

/* Button styles */
button, .btn-main {
  background: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  padding: 0.6em 2.4em;
  min-width: 200px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 0.8em;
  box-shadow: 0 4px 14px 0 rgba(212, 161, 190, 0.21);
  transition: background 0.25s, box-shadow 0.2s, transform 0.08s;
}

button :hover, .btn-main:hover,
button :focus, .btn-main:focus {
  background: linear-gradient(90deg, #b76773 0%, #dea193 100%);
  box-shadow: 0 6px 22px 0 rgba(178, 103, 115, 0.23);
  transform: translateY(-2px) scale(1.03);
}

@media (max-width: 880px) {
  .container h1,
  .result-container h1 {
    font-size: 2.2em;
    width: 90%;
  }
  
}
@media (max-width: 790px) {
  h1 {
    font-size: 2em;
  }

  .container h1,
  .result-container h1 {
    font-size: 2.2em;
  }

  .container p,
  .result-container p {
    font-size: 1em;
  }

  .captcha-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
  } 

  button,
  .btn-main {
    width: 90%;
    font-size: 1rem;
    padding: 0.8em;
  }
}

@media (max-width: 480px) {
  .captcha-grid {
    grid-template-columns: 1fr;
  }

  .container,
  .result-container {
    padding: 1.5em 1em;
  }

  h1 {
    font-size: 1.8em;
  }
} 


