<!-- <p>home works!</p> -->
<div class="container">
  <h1>Welcome to Angul-It</h1>
  <p>
    Get ready to test your skills with our multi-stage captcha challenge!
  </p>
  <div class="instructions">
    <!-- <h2>How this works:</h2> -->
    <p class="instructions-text">
      Complete three quick captchas to test your accuracy and attention. 
      <br>
      Click “Start Captcha Challenge” to begin, solve each captcha, and move through 
      <br>
      the challenges until you reach your result page.
    </p>
  </div>
  <button class="btn-main" (click)="startCaptcha()">
    Start CAPTCHA Challenge
  </button>
</div>
