<div class="container">
  <h1>Welcome to Angul-It</h1>
  <p>
    Get ready to test your skills with our multi-stage captcha challenge!
  </p>
  <div class="instructions">
    <p class="challenge-text">
    Complete these three quick captchas to test your accuracy and attention.
  </p>
  <div class="challenge-row">
    <div class="challenge-box">
      <span class="challenge-emoji">🦋✈️</span>
      <span class="challenge-title">High Flyers</span>
      <span class="challenge-desc">Find what flies!</span>
    </div>
    <div class="challenge-box">
      <span class="challenge-emoji">🤔🔍</span>
      <span class="challenge-title">Oddball Hunt</span>
      <span class="challenge-desc">Spot the odd one!</span>
    </div>
    <div class="challenge-box">
      <span class="challenge-emoji">➕🧠</span>
      <span class="challenge-title">Math Dash</span>
      <span class="challenge-desc">Pick the right answer!</span>
    </div>
  </div>
    <p class="instructions-text">
      Click “Start Captcha Challenge” to begin, solve each captcha, and move through 
      <br>
      the challenges until you reach your result page.
    </p>
  </div>
  <button class="btn-main" (click)="startCaptcha()">
    Start CAPTCHA Challenge
  </button>
</div>
